body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 20% 55% 5% 20%;
    width: 100%;
    height: 100%;
    gap: 0px;
    box-sizing: border-box;
    position: relative;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.item1 {
    font-size: 50px;
    font-style: italic;
    grid-column: 1 / 4;
    grid-row: 1;
    position: relative;
}

.x {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 254, 140, 0);
    font-size: 50px;
}

.item2 {
    grid-column: 1;
    grid-row: 2 / 5;
}

.item3 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
    position: relative; 
}

.item3 h2 {
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.item4 {
    grid-column: 3;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item6 {
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.y {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 254, 140);
    font-size: 30px;
}

.listOfLinks {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.linkedItem a {
    text-decoration: none;
    color: inherit;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.linkedItem a:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

.link2 a {
    pointer-events: none;
    opacity: 40%;
}

.full-screen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}
